<div *ngIf="!isLoggedIn">
  <h1>Login</h1>
  <form (ngSubmit)="login()">
    <label for="username">Select Your Name:</label>
    <select id="username" [(ngModel)]="username" name="username" required>
      <option *ngIf="participants.length === 0" disabled>Loading participants...</option>
      <option *ngFor="let participant of participants" [value]="participant.name">
        {{ participant.name }}
      </option>
    </select>
    <button type="submit" [disabled]="participants.length === 0">Login</button>
  </form>
</div>

<div *ngIf="isLoggedIn">
  <h1>Welcome, {{ username }}</h1>
  <p>Select a participant for your Secret Santa:</p>

  <ul>
    <ng-container *ngFor="let participant of participants">
      <li *ngIf="participant.name !== loggedInParticipant?.name">
        <button (click)="chooseParticipant(participant)"
        [disabled]="selectedParticipant || participant.name === loggedInParticipant?.name || participant.chosen"
        >
          {{ participant.name }}
        </button>
      </li>
    </ng-container>
  </ul>


  <div *ngIf="selectedParticipant">
    <p>You selected: {{ selectedParticipant.name }}</p>
  </div>
</div>

